#### Breast Cancer Project

#### Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('breast-cancer.csv')

In [3]:
df.head()

,age,mefalsepause,tumor-size,inv-falsedes,falsede-caps,deg-malig,breast,breast-quad,irradiat,class
0,40-49,premefalse,15-19,0-2,True,3,right,left_up,False,recurrence-events
1,50-59,ge40,15-19,0-2,False,1,right,central,False,false-recurrence-events
2,50-59,ge40,35-39,0-2,False,2,left,left_low,False,recurrence-events
3,40-49,premefalse,35-39,0-2,True,3,right,left_low,True,false-recurrence-events
4,40-49,premefalse,30-34,3-5,True,2,left,right_up,False,recurrence-events

#### EDA

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 272 entries, 0 to 271
Data columns (total 10 columns):
age             272 non-null object
mefalsepause    272 non-null object
tumor-size      272 non-null object
inv-falsedes    272 non-null object
falsede-caps    264 non-null object
deg-malig       272 non-null int64
breast          272 non-null object
breast-quad     271 non-null object
irradiat        272 non-null bool
class           272 non-null object
dtypes: bool(1), int64(1), object(8)
memory usage: 19.5+ KB

In [5]:
df.shape

(272, 10)

In [6]:
df.columns

Index(['age', 'mefalsepause', 'tumor-size', 'inv-falsedes', 'falsede-caps',
       'deg-malig', 'breast', 'breast-quad', 'irradiat', 'class'],
      dtype='object')

In [10]:
df.corr()

           deg-malig  irradiat
deg-malig   1.000000  0.197958
irradiat    0.197958  1.000000

In [11]:

X = np.array(df.iloc[:, 1:]) 
y = np.array(df['class'])

In [12]:
from sklearn.model_selection import train_test_split 
X_train, X_test, y_train, y_test = train_test_split( 
    X, y, test_size = 0.33, random_state = 42)